<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reminder: Verify Your Thriftify Account</title>
    <style>
        .head-con {
            width: 100%;
            height: 40px;
            background-color: green;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 20px;
        }
        section {
            padding: 20px;
        }
        p {
            line-height: 1.6;
        }
        a {
            color: green;
            text-decoration: none;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <header>
        <div class="head-con">
            <h2 class="head">Thriftify</h2>
        </div>
    </header>
    <section>
        <h2>Hello {{name}},</h2>
        <p>
            A quick reminder that your Thriftify account is still unverified! 😲  
        </p>
        <p>
            We've also updated our verification process! 🎉 You can now verify your account using a selfie as an alternative to providing proof of address.  
        </p>
        <p>
            Simply take a selfie holding a paper with today’s date and 'ID Verification for Thriftify' written on it.  
        </p>
        <p>
            Click the button below to complete your verification.
        </p>
        <p>
           👉 <a href="{{link}}">Verify My Account</a>  
        </p>
        <p>
            If you have already verified, please ignore this email.  
        </p>
        <p><b>Happy Thrifting! 🚀</b><br>Thriftiffy Team</p>
    </section>
</body>
</html>
